@import "tailwindcss";
@import "tw-animate-css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/sand-alpha.css";
@import "@radix-ui/colors/sand-dark-alpha.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/jade-dark.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/black-alpha.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --text-title-lg: 2rem;
  --text-title-lg--line-height: 2.25rem;
  --text-title-md: 1.625rem;
  --text-title-md--line-height: 1.875rem;
  --text-title-sm: 1.375rem;
  --text-title-sm--line-height: 1.625rem;
  --text-title-xs: 1.125rem;
  --text-title-xs--line-height: 1.375rem;
  --text-body-xl: 1.125rem;
  --text-body-xl--line-height: 1.5rem;
  --text-body-xl-tall: 1.125rem;
  --text-body-xl-tall--line-height: 1.75rem;
  --text-body-lg: 1rem;
  --text-body-lg--line-height: 1.25rem;
  --text-body-lg-tall: 1rem;
  --text-body-lg-tall--line-height: 1.5rem;
  --text-body-md: 0.875rem;
  --text-body-md--line-height: 1.125rem;
  --text-body-md-tall: 0.875rem;
  --text-body-md-tall--line-height: 1.25rem;
  --text-body-sm: 0.75rem;
  --text-body-sm--line-height: 1rem;
  --text-body-xs: 0.625rem;
  --text-body-xs--line-height: 0.75rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-*: initial;
  --radius-xxs: calc(var(--radius) - 10px);
  --radius-xs: calc(var(--radius) - 8px);
  --radius-sm: calc(var(--radius) - 6px);
  --radius-md: calc(var(--radius) - 4px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-xxl: calc(var(--radius) + 12px);

  /* Effimal variables */

  --shadow-border-right: 1px 0 0 0 var(--nav-shadow);
  --shadow-border-bottom: 0 1px 0 0 var(--nav-shadow);
  --shadow-border-top: 0 -1px 0 0 var(--nav-shadow);
  --shadow-border-left: -1px 0 0 0 var(--nav-shadow);

  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-tertiary: var(--bg-tertiary);
  --color-bg-inverse: var(--bg-inverse);
  --color-bg-neutral: var(--bg-neutral);
  --color-bg-brand: var(--bg-brand);
  --color-bg-info: var(--bg-info);
  --color-bg-success: var(--bg-success);
  --color-bg-warning: var(--bg-warning);
  --color-bg-critical: var(--bg-critical);
  --color-fill-transparent: var(--fill-transparent);
  --color-fill-primary: var(--fill-primary);
  --color-fill-primary-hover: var(--fill-primary-hover);
  --color-fill-primary-active: var(--fill-primary-active);
  --color-fill-secondary: var(--fill-secondary);
  --color-fill-secondary-hover: var(--fill-secondary-hover);
  --color-fill-secondary-active: var(--fill-secondary-active);
  --color-fill-tertiary: var(--fill-tertiary);
  --color-fill-tertiary-hover: var(--fill-tertiary-hover);
  --color-fill-tertiary-active: var(--fill-tertiary-active);
  --color-fill-neutral: var(--fill-neutral);
  --color-fill-neutral-hover: var(--fill-neutral-hover);
  --color-fill-neutral-active: var(--fill-neutral-active);
  --color-fill-brand: var(--fill-brand);
  --color-fill-brand-hover: var(--fill-brand-hover);
  --color-fill-brand-active: var(--fill-brand-active);
  --color-fill-info: var(--fill-info);
  --color-fill-info-hover: var(--fill-info-hover);
  --color-fill-info-active: var(--fill-info-active);
  --color-fill-success: var(--fill-success);
  --color-fill-success-hover: var(--fill-success-hover);
  --color-fill-success-active: var(--fill-success-active);
  --color-fill-warning: var(--fill-warning);
  --color-fill-warning-hover: var(--fill-warning-hover);
  --color-fill-warning-active: var(--fill-warning-active);
  --color-fill-critical: var(--fill-critical);
  --color-fill-critical-hover: var(--fill-critical-hover);
  --color-fill-critical-active: var(--fill-critical-active);
  --color-fg-primary: var(--fg-primary);
  --color-fg-secondary: var(--fg-secondary);
  --color-fg-tertiary: var(--fg-tertiary);
  --color-fg-quaternary: var(--fg-quaternary);
  --color-fg-inverse: var(--fg-inverse);
  --color-fg-contrast: var(--fg-contrast);
  --color-fg-brand: var(--fg-brand);
  --color-fg-info: var(--fg-info);
  --color-fg-success: var(--fg-success);
  --color-fg-warning: var(--fg-warning);
  --color-fg-critical: var(--fg-critical);
  --color-border-primary: var(--border-primary);
  --color-border-primary-opaque: var(--border-primary-opaque);
  --color-border-secondary: var(--border-secondary);
  --color-border-secondary-opaque: var(--border-secondary-opaque);
  --color-border-tertiary: var(--border-tertiary);
  --color-border-tertiary-opaque: var(--border-tertiary-opaque);
  --color-border-brand: var(--border-brand);
  --color-border-info: var(--border-info);
  --color-border-success: var(--border-success);
  --color-border-warning: var(--border-warning);
  --color-border-critical: var(--border-critical);
  --color-border-selected: var(--border-selected);
  --color-nav-shadow: var(--nav-shadow);
  --color-activity-liked: var(--activity-liked);
  --color-activity-commented: var(--activity-commented);
  --color-activity-mentioned: var(--activity-mentioned);
  --color-activity-followed: var(--activity-followed);
  --color-bg-sidenav: var(--bg-sidenav);
  --color-bg-overlay: var(--bg-overlay);
}

:root {
  --radius: 0.75rem;

  /* Effimal colors */
  --bg-primary: var(--sand-1);
  --bg-secondary: white;
  --bg-tertiary: var(--sand-1);
  --bg-inverse: var(--sand-12);
  --bg-neutral: var(--sand-3);
  --bg-brand: var(--orange-3);
  --bg-info: var(--blue-3);
  --bg-success: var(--jade-3);
  --bg-warning: var(--amber-3);
  --bg-critical: var(--tomato-3);

  --fill-transparent: transparent;
  --fill-primary: var(--sand-a3);
  --fill-primary-hover: var(--sand-a4);
  --fill-primary-active: var(--sand-a5);
  --fill-secondary: var(--sand-a2);
  --fill-secondary-hover: var(--sand-a3);
  --fill-secondary-active: var(--sand-a4);
  --fill-tertiary: var(--sand-a1);
  --fill-tertiary-hover: var(--sand-a2);
  --fill-tertiary-active: var(--sand-a3);
  --fill-neutral: var(--sand-12);
  --fill-neutral-hover: black;
  --fill-neutral-active: black;
  --fill-brand: var(--orange-9);
  --fill-brand-hover: var(--orange-10);
  --fill-brand-active: var(--orange-11);
  --fill-info: var(--blue-9);
  --fill-info-hover: var(--blue-10);
  --fill-info-active: var(--blue-11);
  --fill-success: var(--jade-9);
  --fill-success-hover: var(--jade-10);
  --fill-success-active: var(--jade-11);
  --fill-warning: var(--amber-9);
  --fill-warning-hover: var(--amber-10);
  --fill-warning-active: var(--amber-11);
  --fill-critical: var(--tomato-9);
  --fill-critical-hover: var(--tomato-10);
  --fill-critical-active: var(--tomato-11);

  --fg-primary: var(--sand-12);
  --fg-secondary: var(--sand-11);
  --fg-tertiary: var(--sand-9);
  --fg-quaternary: var(--sand-8);
  --fg-inverse: white;
  --fg-contrast: white;
  --fg-brand: var(--orange-11);
  --fg-info: var(--blue-11);
  --fg-success: var(--jade-11);
  --fg-warning: var(--amber-11);
  --fg-critical: var(--tomato-11);

  --border-primary: var(--sand-a6);
  --border-primary-opaque: var(--sand-6);
  --border-secondary: var(--sand-a5);
  --border-secondary-opaque: var(--sand-5);
  --border-tertiary: var(--sand-a4);
  --border-tertiary-opaque: var(--sand-4);
  --border-brand: var(--orange-5);
  --border-info: var(--blue-5);
  --border-success: var(--jade-5);
  --border-warning: var(--amber-5);
  --border-critical: var(--tomato-5);
  --border-selected: var(--sand-12);

  --nav-shadow: var(--black-a2);
  --activity-liked: var(--tomato-9);
  --activity-commented: var(--blue-9);
  --activity-mentioned: var(--jade-9);
  --activity-followed: var(--orange-9);
  --ring: var(--blue-9);
  --bg-sidenav: var(--sand-2);
  --bg-overlay: var(--black-a6);

  /* Shadcn colors */
  --background: var(--bg-primary);
  --foreground: var(--fg-primary);
  --card: var(--bg-secondary);
  --card-foreground: var(--fg-primary);
  --popover: var(--bg-secondary);
  --popover-foreground: var(--fg-primary);
  --primary: var(--fill-neutral);
  --primary-foreground: var(--fg-inverse);
  --secondary: var(--fill-primary);
  --secondary-foreground: var(--fg-primary);
  --muted: var(--fill-primary);
  --muted-foreground: var(--fg-secondary);
  --accent: var(--fill-secondary-hover);
  --accent-foreground: var(--fg-primary);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--border-tertiary);
  --input: oklch(0.923 0.003 48.717);
  --ring: var(--fill-brand);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--bg-sidenav);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: var(--fill-brand);
}

.dark {
  /* Effimal colors */
  --bg-primary: var(--sand-1);
  --bg-secondary: var(--sand-2);
  --bg-tertiary: var(--sand-3);
  --bg-inverse: var(--sand-12);
  --bg-neutral: var(--sand-3);
  --bg-brand: var(--orange-3);
  --bg-info: var(--blue-3);
  --bg-success: var(--jade-3);
  --bg-warning: var(--amber-3);
  --bg-critical: var(--tomato-3);

  --fill-transparent: transparent;
  --fill-primary: var(--sand-a3);
  --fill-primary-hover: var(--sand-a4);
  --fill-primary-active: var(--sand-a5);
  --fill-secondary: var(--sand-a2);
  --fill-secondary-hover: var(--sand-a3);
  --fill-secondary-active: var(--sand-a4);
  --fill-tertiary: var(--sand-a1);
  --fill-tertiary-hover: var(--sand-a2);
  --fill-tertiary-active: var(--sand-a3);
  --fill-neutral: var(--sand-12);
  --fill-neutral-hover: white;
  --fill-neutral-active: white;
  --fill-brand: var(--orange-9);
  --fill-brand-hover: var(--orange-10);
  --fill-brand-active: var(--orange-11);
  --fill-info: var(--blue-9);
  --fill-info-hover: var(--blue-10);
  --fill-info-active: var(--blue-11);
  --fill-success: var(--jade-9);
  --fill-success-hover: var(--jade-10);
  --fill-success-active: var(--jade-11);
  --fill-warning: var(--amber-9);
  --fill-warning-hover: var(--amber-10);
  --fill-warning-active: var(--amber-11);
  --fill-critical: var(--tomato-9);
  --fill-critical-hover: var(--tomato-10);
  --fill-critical-active: var(--tomato-11);

  --fg-primary: var(--sand-12);
  --fg-secondary: var(--sand-11);
  --fg-tertiary: var(--sand-9);
  --fg-quaternary: var(--sand-8);
  --fg-inverse: var(--sand-1);
  --fg-contrast: white;
  --fg-brand: var(--orange-11);
  --fg-info: var(--blue-11);
  --fg-success: var(--jade-11);
  --fg-warning: var(--amber-11);
  --fg-critical: var(--tomato-11);

  --border-primary: var(--sand-a6);
  --border-primary-opaque: var(--sand-6);
  --border-secondary: var(--sand-a5);
  --border-secondary-opaque: var(--sand-5);
  --border-tertiary: var(--sand-a4);
  --border-tertiary-opaque: var(--sand-4);
  --border-brand: var(--orange-5);
  --border-info: var(--blue-5);
  --border-success: var(--jade-5);
  --border-warning: var(--amber-5);
  --border-critical: var(--tomato-5);
  --border-selected: var(--sand-12);

  --nav-shadow: var(--white-a2);
  --activity-liked: var(--tomato-9);
  --activity-commented: var(--blue-9);
  --activity-mentioned: var(--jade-9);
  --activity-followed: var(--orange-9);
  --ring: var(--blue-9);
  --bg-sidenav: var(--black-a4);
  --bg-overlay: var(--black-a8);

  /* Shadcn colors */
  --background: var(--bg-primary);
  --foreground: var(--fg-primary);
  --card: var(--bg-secondary);
  --card-foreground: var(--fg-primary);
  --popover: var(--bg-secondary);
  --popover-foreground: var(--fg-primary);
  --primary: var(--fill-neutral);
  --primary-foreground: var(--fg-inverse);
  --secondary: var(--fill-primary);
  --secondary-foreground: var(--fg-primary);
  --muted: var(--fill-primary);
  --muted-foreground: var(--fg-secondary);
  --accent: var(--fill-secondary-hover);
  --accent-foreground: var(--fg-primary);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--border-tertiary);
  --input: oklch(1 0 0 / 15%);
  --ring: var(--fill-brand);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--bg-sidenav);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: var(--fill-brand);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
